* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #121212;
    color: white;
}

.beforeGameLayout {
    display: flex;
    align-items: center;
    height: 100vh;
}

.title {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.beforeGame {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.playerDivImg {
    position: relative;
}

.playerDivImg img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.playerDivName input {
    width: 100%;
    outline: none;
    height: 30px;
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 0 13px;
}

h1.vs{
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-size: 70px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.leftArrow, .rightArrow {
    position: absolute;
    font-size: 40px;
    top: 50%;
    cursor: pointer;
    color: white;
}

.leftArrow {
    left: 0;
}

.rightArrow {
    right: 0;
}


.play {
    background: green;
    color: white;
    border: 1px solid white;
    border-radius: 34px;
    outline: none;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 8%;
    width: 10%;
    height: 5%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: 400ms;
}

.play:hover {
    background-color: black;
    color: white;
}

.play:active {
    background: red;
}

.gameLayout {
    display: grid;
    align-content: center;
    height: 100vh;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}

.gameBoardDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #B0B3B8;
    color: black;
    font-size: 50px;
}

.turnTeller {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
}

.winner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.restart {
    background-color: rebeccapurple;
    padding: 5px 20px;
    border-radius: 23px;
    font-size: 30px;
    color: white;
    outline: none;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
